* {
  margin: 0 ;
  padding: 0;
}


html, body{
margin: 0 !important;
padding: 0 !important;
/* background-color: brown; */
}
@media (max-width: 800px) {
  #signUpBackground{
    display: none;
  }
  #signUpInPage {
    justify-content: center;
  }
}



/* .MuiFormLabel-root-MuiInputLabel-root label{
  color: var(--white) !important;
} */